$primary-color: #fff;
$secondary-color: #000;
$text-color: #177DF0;
$line-color: #A6AEB8;
$selected-color: #F01755;

body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    margin: 0;
}